<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Search Term</mat-label>
        <input type="text" #searchInput (input)="onSearch(searchInput.value)" placeholder="Search..."
            aria-label="Search Term" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of queries$ | async" [value]="option" (onSelectionChange)="onSearch(option)">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <mat-list>
        <mat-list-item *cdkVirtualFor="let result of repositories$ | async">{{ result.name }}</mat-list-item>
    </mat-list>
</cdk-virtual-scroll-viewport>